SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sistema_matriculas
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306

UNIVERSITY_NAME=Universidad Tecnológica del Perú
UNIVERSITY_SHORT_NAME=UTP
